@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-top {
        transform: translate(0.93rem, -0.6rem) rotate(45deg);
    }

    .menu-bottom {
        transform: translate(-0.93rem, 1.87rem) rotate(-45deg);
    }

    .scheme-dark {
        color-scheme: dark;
    }
}
